/* reset */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* debug */
.debug header{
    background-color: #add8e6;
}
.debug .header-small{
    background-color: #daa520;
    height: 30px; 
}
.debug .header-big{ 
    background-color: #00008b;
    height: 500px;
}
.debug .slogan{
    background-color: #ee82ee;
    height: 400px;
    width: 900px;
}
.debug .row{
    background-color: white;
}
.debug .col-big{
    background-color: #1e90ff;
    height: 495px;
}
.debug .col-small{
    background-color: #ffc0cb;
    height: 495px;  
}
.debug .col{
    background-color: #228b22;
    height: 900px;
}
/* common */
.container{
    max-width: 1200px;
    margin: auto;
}

/* header */
.header-small{
    margin-top: 17px;
    margin-bottom: 16px;
}
.header-small{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-big{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* main */
section:nth-child(2n){
    background-color: #d3d3d3;
}
section{
    padding: 50px 0;
}
.row{
    display: flex; 
}
.col-big{
    width: 60%;
}
.col-small{
    width: 40%;
}
.col{
    width: 100%;
}

/* footer */